@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "primeicons/primeicons.css";
@import "primereact/resources/primereact.min.css";

* {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
.loader-logo{
    animation: grow-shrink 2s ease-in-out infinite;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Makes items not draggable */
.not-draggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

/* Estilos para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;         /* ancho vertical */
  height: 12px;        /* alto horizontal */
}

/* Fondo de la barra (track) */
::-webkit-scrollbar-track {
  background: transparent; /* gris claro (#f3f4f6 para modo claro) */
}

/* Parte que se mueve (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #252525; /* gris medio (#9ca3af) */
  border-radius: 6px;
  border: 3px solid #f3f4f6; /* espacio entre thumb y track */
}

/* Hover sobre el thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #353535; /* gris oscuro (#6b7280) */
}

/* Firefox (scrollbar moderna) */
* {
  scrollbar-width: thin;              /* 'auto' o 'thin' */
  scrollbar-color: #9ca3af transparent;   /* thumb color / track color */
}
